body{
  margin:0;
  font-family: Arial;
}
#login{
  margin-left: 20px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}
#compose{
    margin-left: 550px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}
#register{
  margin-left:20px;
  text-decoration: none;
color: white;
font-size: 20px;
}

#userimage{
  width:40px;
  height:40px;
  background-color: white;
  margin-left: 15px;
  border-radius: 20px;
}
.top{
  background:red;
  color:white;
  height:60px;
  display:flex;
  align-items: center;
  
}

#search{
  margin-left:30px;
}
.top h2{
  padding:15px;
  display:inline-block;
}

.top input{
  float:right;
  margin:15px;
  padding:5px;
}

.main{
  display:flex;
  height:calc(100vh - 60px);
}

.left{
  width:200px;
  background:teal;

}

.left button{
  width:100%;
  height:45px;
  border:none;
  background:teal;
  color:white;
}

.left button:hover{
  background:#006666;
}

.right{
  width:100%;
  background:#eee;
}

.tab{
  background:white;
  padding:10px;
  border-bottom:1px solid #ccc;
}

.tab button{
  border:none;
  background:white;
  font-weight:bold;
  margin-right:15px;
}

.mail{
  background:white;
  margin:5px;
  padding:10px;
}

.name{
  font-weight:bold;
}

.time{
  margin-right:0px;
  font-size:12px;
  margin-left: 1000px;
}

label{
    margin-top: 10px;
    display: block;
    font-weight: bold;
    font-size: large;
}
input{
    margin-top: 10px;
    display: block;
    padding-top: 20px;
    padding-right: 150px;
    border-radius: 10px;
}
#fp{
    font-weight: bold;
    font-size:20px;
    text-align: center;
}
.fd{
    place-items: center;
}
.mform{
    background-color:bisque;
    width: 400px;
}
select{
    padding: 10px 60px 10px 20px;
}
#fmail{
    text-align: center;
    font-size: 16px;
}
#logindiv{
  place-items: center;
}
#lp{
  font-size: 20px;
}
.compose{
  font-size: 20px;
}
#tcompose{
  margin-left: 10px;
}
#type{
  margin-left: 10px;
  font-size: 20px;
}
#compose-div{
  background-color: #eee;
}
#google{
  text-align: center;
}
#security-alert{
  font-size: 30px;
}
#download-file{
  text-decoration: none;
  font-size: 20px;
}